@font-face { font-family: DejaVu; src: url('DejaVu.ttf'); }
body { font-family: DejaVu; font-weight: bold; }

/* Bridge board */
#board-num { text-align: center; width: 64px; }
#contract { display: flex; align-items: center; justify-content: center; }
.hand { background-color: #eee; border: 1px solid lightgrey; }
.bids { font-weight: normal; text-align: center; }
.bid:hover { cursor: url('cross.png'), auto; }
#auction { border: 1px solid lightgrey; height: 132px; overflow: auto; }
#note { border: 1px solid #eed; background-color: #ffe; padding: 3px; }
#bidding-controls { overflow: auto; }

/* Overlay tricks to the center-bottom of the card */
.suit td { position: relative; }
.tricks {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}
.equal { color: green; }
.plus { color: green; letter-spacing:-1px; }
.minus { color: red; }

/* Buttons */
button { border-radius: 24px; color: white; height: 50px; }
.nav-btn { width: 100px; }

.red-btn { background-color: #a00; color: white; }
.red-btn:hover { background-color: #d00; }
.green-btn { background-color: #080; color: white; }
.green-btn:hover { background-color: #0c0; }
.blue-btn { background-color: #008; color: white; }
.blue-btn:hover { background-color: #00f; }
.grey-btn { background-color: #eee; color: black; }
.grey-btn:hover { background-color: #ccc; }
.red-btn:disabled, .green-btn:disabled, .blue-btn:disabled, .grey-btn:disabled {
  background-color: #444;
  color: black;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Vulnerability */
.red-name {
  background-color: #a00;
  border: 1px solid #800;
  color:white;
  text-align: center;
}
.white-name {
  background-color: #fff;
  border: 1px solid lightgrey;
  color:black;
  text-align: center;
}

/* Suit symbols */
ss:before { color: black; content: '♠'; }
hs:before { color: #dd0000; content: '♥'; }
ds:before { color: #dd0000; content: '♦'; }
cs:before { color: black; content: '♣'; }

/* Double dummy */
table.dd, table.sd {
  border: 1px solid lightgrey;
  font-size: 90%;
  margin:auto;
  text-align: center;
}
table.dd th, table.sd th { background-color: #eee; }
table.dd td { min-width: 25px; }
table.sd td { min-width: 40px; }
