@font-face {
  font-family: DejaVu;
  src: url('DejaVu.ttf');
}
:root {
  color-scheme: light dark;
}
body {
  background-color: light-dark(lightgrey, black);
  color: light-dark(black, #bcc);
  display: flex;
  font-family: DejaVu;
  font-weight: bold;
  justify-content: center;
}
input {
  background-color: transparent;
  color: light-dark(black, #bcc);
  font-family: DejaVu;
  font-weight: bold;
}

/* Hide scrollbar but allow scrolling */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
body {
  -ms-overflow-style: none; /* IE and Edge */
}
html {
  scrollbar-width: none; /* Firefox */
}

/* No multi-line text in a table cell */
table { white-space: nowrap; }

/* Bridge board */
#board {
  background-color: light-dark(white, #011);
  border-radius: 20px;
  width: min(576px, 100vw - 20px);
  padding: 15px;
}
#banner, #filter-bar {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  padding-bottom: 10px;
}
#filter-bar { display: none; }
#match {
  border: 1px solid light-dark(lightgrey, #345);
  border-radius: 5px;
  background-color: light-dark(#ffe, #234);
  padding: 5px;
}
#match:focus {
  border: 1px solid light-dark(white, #69c);
  outline: none;
}
#match:disabled { background-color: #bbb; }
#match-count { width: 120px; }
#logo { opacity: 0.8; width: min(32px, 10vw); }
#board-num {
  border: 0px;
  font-size: 105%;
  text-align: center;
  width: 45px;
}
#table {
  border-top: 1px solid light-dark(lightgrey, #234);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding-top: 10px;
  position: relative;  /* allow overlay */
}
div.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seat { white-space: nowrap; }
.hand {
  background-color: light-dark(#eee, #123);
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  display: none;
  height: 108px;
  padding-top: 12px;
  position: relative;  /* allow overlay */
}
.declarer {
  border: 1px solid light-dark(#888, #69c);
}
.hcp {
  border-radius: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1.3em;
}
.bids {
  font-weight: normal;
  text-align: center;
}
.bid:hover {
  background-color: light-dark(#fee, #334);
  cursor: url('cross.png'), auto;
}
#auction {
  align-content: flex-start;
  background-color: light-dark(#eee, #123);
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  height: 120px;
  overflow: auto;
}
#play-trick {
  display: grid;
  font-size: 150%;
  gap: 0;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  height: 120px;
  position: relative;  /* allow overlay */
}
#note {
  border: 1px solid light-dark(lightgrey, #345);
  border-radius: 5px;
  background-color: light-dark(#ffe, #234);
  height: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  width: calc(100% - 12px);
}
#note:placeholder-shown {
  height: 0px;
}
#note:focus {
  border: 1px solid light-dark(white, #69c);
  height: 1em;
  outline: none;
}
#left-btn { left: 0px; }
#right-btn { right: 0px; }
#left-btn, #right-btn {
  bottom: 5px;
  position: absolute;
  width: calc((100% - 60px)/5);
}
#bidding-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  margin-top: 5px;
  overflow: visible;
  text-align: center;
}
.col-span-full { grid-column: 1 / -1; }

/* Cards and plays */
.card {
  border-radius: 3px;
  min-width: 12px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;  /* allow overlay */
  text-align: center;
  transform: scale(1.1);
}
.playable {
  cursor: pointer;
}
.playable:hover {
  background-color: light-dark(#afa, #353);
  transform: scale(1.3) translate(0px, -2px);
}
.played, .played-large {
  align-items: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.played-large {
  background-color: light-dark(white, #234);
  border: solid 1px light-dark(lightgrey, #69c);
  border-radius: 6px;
  transform: scale(1.3);
}
.unplayed-large {
  border: solid 1px transparent;
}
.played:hover, .played-large:hover {
  background-color: light-dark(#fee, #334);
  cursor: url('cross.png'), auto;
}
#played-cards {
  align-content: flex-start;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  height: 120px;
  overflow: auto;
}
#show-auction {
  font-size: 67%;
  position: absolute;
  top: 0px;
  right: 0px;
}
#show-auction:hover {
  background-color: light-dark(#fee, #345);
  cursor: default;
}

/* Overlay tricks to the center-bottom of the card */
.tricks {
  bottom: -8px;
  font-size: 75%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.equal { color: green; }
.plus { color: green; letter-spacing: -2px; }
.minus { color: red; letter-spacing: -1px; }

/* Buttons */
button {
  border-radius: 24px;
  border-width: 0;
  box-shadow: 2px 2px 6px 0px light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  color: light-dark(white, #bcc);
  font-family: DejaVu;
  font-size: 105%;
  height: 40px;
  transition: background-color .2s;
}
.nav-btn { width: 96px; }
.call-btn { width: 100%; }

.red-btn { background-color: light-dark(#a00, #700); }
.red-btn:hover { background-color: light-dark(#d00, #a00); }
.green-btn { background-color: light-dark(#080, #060); }
.green-btn:hover { background-color: light-dark(#0c0, #0a0); }
.blue-btn { background-color: light-dark(#007, #005); }
.blue-btn:hover { background-color: light-dark(#00f, #00d); }
.grey-btn { background-color: light-dark(#eee, #123); color: light-dark(black, #bcc); }
.grey-btn:hover { background-color: light-dark(#ccc, #345); }
.white-btn { background-color: light-dark(white, #011); color: light-dark(black, #bcc); }
.white-btn:hover { background-color: light-dark(#ddd, #234); }
.red-btn:disabled, .green-btn:disabled, .blue-btn:disabled,
.grey-btn:disabled, .white-btn:disabled {
  background-color: light-dark(#444, #222);
  color: light-dark(black, #678);
  cursor: not-allowed;
  opacity: 0.6;
}

/* Toggles */
.toggle {
  position: relative;
  display: inline-block;
  width: clamp(40px, 10vw, 60px);
  height: 30px;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: light-dark(#bbb, #222);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: light-dark(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  transition: .1s;
  border-radius: 50%;
}
.slider:hover {
  background-color: light-dark(#ddd, #444);
  transition: .2s;
}
input:checked + .slider {
  background-color: light-dark(#38c, #146);
  color: light-dark(white, #bcc);
}
input:checked + .slider:before {
  transform: translateX(calc(clamp(40px, 10vw, 60px) - 30px));
}
input:checked + .slider:hover {
  background-color: light-dark(#5ae, #368);
  transition: .2s;
}

/* Vulnerability */
.red {
  background-color: light-dark(#a00, #800);
  color: light-dark(white, #bcc);
  text-align: center;
}
.white {
  background-color: light-dark(#fff, #011);
  color: light-dark(black, #bcc);
  text-align: center;
}

/* Suit symbols */
ss:before { color: light-dark(#000, #aaa); content: '♠'; }
hs:before { color: light-dark(#c00, #a00); content: '♥'; }
ds:before { color: light-dark(#c00, #a00); content: '♦'; }
cs:before { color: light-dark(#000, #aaa); content: '♣'; }

/* Double dummy */
table.dd {
  border-collapse: collapse;
  font-size: 90%;
  line-height: 136%;
  margin:auto;
  text-align: center;
}
table.dd th, table.dd td {
  min-width: 30px;
  padding-left: 3px;
  padding-right: 3px;
}
